<% include ../partials/header %>
<h1>Please register</h1>
<div class="row">
    <div class="col col-md-6">
        <form action="" method="post">
            <input type="text" name="username"  class="form-control" placeholder="username" />
            <br />
            <input type="password" name="password" class="form-control" placeholder="password" />
            <br />
            <button class="btn btn-success">Register</button>
        </form>
    </div>
</div>
<% include ../partials/footer %>